<ion-header>
  <ion-toolbar>
    <ion-title>videocall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <iframe allow="camera; microphone" style="width:100%; height:100%;" src="assets/javascript/makevideocall.html"></iframe>
  
   <!-- <video style="width:100%; height:100%;" controls="controls">
    <source #video [src]="vsrc" type="video/mp4">
  </video> -->
  <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source [src]="vsrc" type="video/mp4"/></video>     -->
</ion-content>
