ion-title{
  text-align:center;
  background-color: chocolate;
  color:aliceblue;
  height:50px;
}
// ion-header{
//   text-align:center;
//   background-color: chocolate;
//   color:aliceblue;
// }

h2{
  margin-left:5px;
  color:orange;
}

p{
  margin-left:10px;
  color: white;
}

#next{
  color:white;
}

div h1 {
  margin-top:100px;
  text-align:center;
}
#bg{
  background-color:DodgerBlue;
  width:100%;
  height:100%;
}

#tp{
  //margin-top:100px;
}